<html>
  <head>
    <title>Spring Security</title>
  </head>
  <body>
    <h1>
      Welcome to Spring security. UnProteted resoure you have accessed. Well!...
    </h1>
      <form action="/formLogin" method="post">
        <label for="userName">Enter your name : </label><input type="text" id="username" placeholder="UserName" name="username">
        <br>
        <label for="password">Enter your password : </label><input type="text" id="password" placeholder="Password" name="password" >
        <br>
        <input type="submit" value="Login">
      </form>

  </body>
</html>